body{
	display: block;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}
.firstpage {
	text-align: center;
	color: white;
}

.firstpage h1{
	font-weight: 700;
	margin: 0;
	padding-top: 2%;

}
#motivating-text{
	
	margin-top: 28%;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 1.5rem;

}

.secondpage h2{
	position: relative;
	text-align: center;
	font-weight: 400;

}


.firstpage {
	background-image: url('back1.jfif');
	height: 670px;
	width: 100%;
}
.darken{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 255),
      rgba(0, 0, 0, 0)
    ),
    url('back1.jfif');
}
.strip{
	background-color: black;
	background-image: url('strip.jpg');
	height: 60px;
	width: 100%;


}
.video{
	width: 50%;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 5px;*/
	border: solid black 10px;
	
}

.thirdpage{
	text-align: center;

}
.pics{
	margin-left: 1%;
	border: 8px solid black;
	width: 300px;
	height: 300px;
}
.thirdpage img:hover {
	filter:blur(2px);
	cursor: pointer;

}
.shift{
	margin-left: 12%;
	font-size: 2rem;
}
.notice{
	font-weight: 300;
	margin-left: 12%;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}
.headings{
	margin-left: 2%;
}
.lastpage{
	text-align: center;
	background-color: black;
	width: 100%;
	height: 50%;
	padding-top: 5%;
	color: white;
	padding-bottom: 5%;
}
.resource-heading{
	margin:0;
	background-color: black;
	color:white;
	padding-left: 2%;
	padding-top: 1%;
}
.resources{
	color:white;
	margin-left: 4%;
	/*background-color: black;*/

}
.resources img{
	width: 150px;
	height:150px;
	border: 8px solid white;
	border-radius: 100%;
}
.footer{
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
	height: 10%;
}